.summary {
    .summary-subheader {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.agreement {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    font-size: 0.85rem;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked {
            & ~ .checkmark {
                background-color: $logo_color2;
                &::after {
                    display: block;
                }
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        &::after {
            content: "";
            position: absolute;
            display: none;
            left: 10px;
            top: 6px;
            width: 6px;
            height: 10px;
            border: solid $white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    &:hover{
        input {
            &:not(:checked) ~ .checkmark {
                background-color: #ccc;
            }
        }
    }
}

