// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-main-title: 'Mansalva', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$lightgrey: #eeeeee;
$black: #000000;
$white: #ffffff;
$bg_navigation: #040c0e;
$bg_addtobasket: #132226;
$section_title: lighten($bg_addtobasket, 25%);
$bg_bestsellers: #be9063;
$bg_product-item: $white;
$bg_footer: #525b56;
$logo_color1: #006699;
$logo_color2: #66cc99;
$logo_color3: #66ccff;

//radius
$radius: 0.5rem;
$radius-btn: 1.5rem;
